<div class="card col-lg-3 col-md-3 col-sm-6 col-xs-12 card-div">
  <img class="card-img-top card-image" src="assets/cookbooks_blog.jpg" alt="Card image cap">
  <div class="card-block zero-padding">
    <h5 class="card-title text">2012’s Best Summer Cookbooks</h5>
    <p class="card-text">With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection of 10 summer cookbooks.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>


<div class="card col-lg-3 col-md-3 col-sm-6 col-xs-12 card-div">
  <img class="card-img-top card-image" src="assets/SweetPotatoChips.jpg" alt="Card image cap">
  <div class="card-block zero-padding">
    <h5 class="card-title text">How to Make Vegetable Chips</h5>
    <p class="card-text">About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn, and before a very thoughtfully prepared vegan…</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>


<div class="card col-lg-3 col-md-3 col-sm-6 col-xs-12 card-div">
  <img class="card-img-top card-image" src="assets/recipe.jpg" alt="Card image cap">
  <div class="card-block zero-padding">
    <h5 class="card-title text">Join us on Pinterest!</h5>
    <p class="card-text">If I could curate a cookbook for you, this would be it.</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>


<div class="card col-lg-3 col-md-3 col-sm-6 col-xs-12 card-div">
  <img class="card-img-top card-image" src="assets/dinner.jpg" alt="Card image cap">
  <div class="card-block zero-padding">
    <h5 class="card-title text">Recipes from a Sunday Supper</h5>
    <p class="card-text">I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful Sunday supper - eat them slowly, a little bit at…</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
