<div class="row">
<div>
  <span class="heading">
    <img  class="head-image"  src="assets/contribute.jpg" alt="Contribute">Contribute
  </span>
</div>
</div>
<div class="row head-text">
  <div class="col-lg-10 ">
    <span>
      Food Sense is created by a community of thoughtful, food-loving eaters and home cooks who have a palate for plant-based eating - for themselves or their loved ones; three days a week, or every day of the year.
    </span>
    <h4>We want to hear from you!</h4>
  </div>
</div>
