<div class="container-fluid main-div" >
  <div class="row ">
    <div class="col-xs-12 hidden-sm-up nav-div">
      <button type="button" class="btn btn-link col-xs-3  text">TasteMakers</button>
      <button type="button" class="btn btn-link col-xs-2  text" >Blog</button>
      <button type="button" class="btn btn-link col-xs-3  text">The A-List</button>
      <button type="button" class="btn btn-link col-xs-2  text" style="padding-left:0px">Contribute</button>
      <button type="button" class="btn btn-link col-xs-2  text">About</button>
    </div>
    <div class="col-xs-12 hidden-sm-up">
      <img class="logo offset-xs-4" src="assets/food-sense.jpg" alt="food sense">
    </div>
  </div>
  <div class="row col-lg-12 col-md-12 col-sm-12">
    <div class="col-lg-3  col-md-12 col-sm-12 hidden-xs-down">
      <navbar-dir></navbar-dir>
    </div>
    <div class="col-lg-9 offset-lg-0 col-md-11 offset-md-1 col-sm-11 offset-sm-1">
      <image-dir></image-dir>
      <blog-card-dir></blog-card-dir>
    </div>
  </div>
</div>
