<div class="text-div col-lg-12 col-md-2 col-sm-2">
  <img class="logo" src="assets/food-sense.jpg" alt="food sense">
</div>
<button type="button" class="btn btn-link text-div col-lg-12 offset-lg-0 col-md-2 offset-md-2 col-sm-2 offset-sm-2 " >
  <span class="icon-class col-lg-4 col-md-12 hidden-sm-down">
    <img  src="assets/tastemakers.jpg" alt="Taste Makers">
  </span>
  <span class="text col-lg-8 col-md-12">Tastemakers</span>
</button>
<button type="button" class="btn btn-link text-div col-lg-12 col-md-1 col-sm-1">
  <span class="col-lg-4 col-md-12 hidden-sm-down"><img  src="assets/blog.jpg" alt="Blog"></span>
  <span class="text col-lg-8  col-md-12">Blog</span>
</button>
<button type="button" class="btn btn-link text-div col-lg-12 col-md-2 col-sm-2">
  <span class="icon-class col-lg-4 col-md-12 hidden-sm-down"><img  src="assets/alist.jpg" alt="The A-List"></span>
  <span class="text col-lg-8 col-md-12 ">The A-List</span>
</button>
<button type="button" class="btn btn-link text-div col-lg-12 col-md-2 col-sm-2">
  <span class=" col-lg-4 col-md-12hidden-sm-down"><img  src="assets/contribute.jpg" alt="Contribute"></span>
  <span class="text col-lg-8 col-md-12">Contribute</span>
</button>
<button type="button" class="btn btn-link text-div col-lg-12 col-md-1  col-sm-1">
  <span class="icon-class col-lg-4 col-md-12 hidden-sm-down"><img  src="assets/about.jpg" alt="About"></span>
  <span class="text col-lg-8 col-md-12">About</span>
</button>

<div class=" text-div col-lg-12 hidden-md-down" style="margin-top:40px !important">
  <p class="promo-div">LATEST TWEET</p>
  <button type="button" class="btn btn-link text-div button-div">
    <span class="text fa fa-twitter" aria-hidden="true"></span>
    <span class="text">Join the conversation</span>
  </button>
</div>

<div class=" text-div col-lg-12 hidden-md-down" style="margin-top:40px !important">
  <p class="promo-div">LET'S BE FRIENDS!</p>
  <p class="new-para">For weekly finds, community recommendations, and more, like us on Facebook.</p>
  <button type="button" class="btn btn-link text-div button-div">
    <span class="text fa fa-facebook" aria-hidden="true"></span>
    <span class="text">Join the community</span>
  </button>
</div>
