
.main-div{
margin :50px 20px;
}

.image{
  height:400px !important;
  width:100% !important;
}

.text{
  font-size: 16px;
  font-style: italic;
  color:#60beae;
}
.text-div{
  display: block;
  line-height: 1.3em;
}
.caption-text-right{
  position: absolute;
  float:right;
  top:250px;
  right:0px;
  background: white;
  color: black;
  font-style: italic;
  width: auto;
}
.data-text-right{
  position: absolute;
  float:right;
  top:290px;
  right:0px;
  background: black;
  color: white;
  font-style: italic;
  width: auto;
}
.caption-text-left{
  position: absolute;
  top:250px;
  background: white;
  color: black;
  font-style: italic;
  width: auto;
}
.data-text-left{
  position: absolute;
  top:290px;
  background: black;
  color: white;
  font-style: italic;
  width: auto;
}
.logo{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

.padding-btn-group{
  padding: 0px 0px !important;
}

.button-class{
  background: #eff8f7;
  border-radius: 0px !important;
  color:#60beae;
}

.icon-class{
  margin-left: 15px;
}

@media screen and (min-width: 990px) {
  .icon-class{
    margin-left: 0px;
  }
}
@media screen and (max-width: 770px) {
  .text{
    font-size: 12px;
  }
}
@media screen and (max-width: 575px) {
  .text{
    font-size: 10px;
  }
  .text-alignment{
    text-align: center;
  }
  .nav-div{
    margin-bottom:  20px !important;
    border-bottom: 1px solid #e5e5e5 !important;
  }
}
.btn-link {
  text-align: left;
}

.para{
  font-size: 10px;
}
.zero-padding{
  padding: 0px !important;
}

.email-div{
  padding-top: 10px;
  margin: 20px 0px 20px 0px;
  border:1px  dashed #e5e5e5;
  border-left: none;
  border-right: none;
}

.form-text{
  font-size: 12px;
}

.card-image{
  width:80%;
  height:100px;
  border:1px solid rgba(0,0,0,.125);
  padding:5px 5px !important;

}
.card-div{
  border :none !important;
}

.card-text{
  font-size: 12px;
  text-align: justify;
}

.promo-div{
  border-bottom: 1px  dashed #e5e5e5;
  margin-bottom: 10px;
  font-size: 12px;
}

.button-div{
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.new-para{
  font-size: 12px;
  font-style: italic;
}

.footer-div{
    clear: both;
    margin: 5px 40px 0px 40px;
    position: relative;
    min-height: 70px;
    padding-top: 20px;
    border-top: 2px solid #E5E5E5;
    color: #AAA;
}

.promo-text{
  font-size:11px;
}

.footer-text{
  float:left;
  border-right:  1px solid #e5e5e5;
}

.footer-icon{
  color: #999999;
  font-size: 32px;
}
.footer-image{
  height: 32px;
  width: 32px;
  opacity: 0.5;
}
.hover-icon:hover{
  color: black;
}

.hover-text:hover{
  padding: 0px  !important;
  color:#EC6635 !important;
}
.button-text:hover{
  color:#EC6635 !important;
}

.footer-hover:hover{
  color:#EC6635 !important;
}

.rss-icon{
  border: 2px solid #999999;
    border-radius: 50%;
    font-size: 20px;
    padding: 3 7px;
}

.cardimage{
  height: 322px;
  width:100%;
}

.tastemaker-card{
  height:600px;
}

.tastemaker-title{
  font-size: 16px;
  color:#60beae;
}

.tastemaker-text{
  font-size: 12px;
}
.thumb{
  color: white;
  font-size:11px;
  background: #4267b2;
  border:1px solid #4267b2;
}

.new-promo-text{
    font-size:11px;
    color:#60beae;
}
.card-footer{
  position: absolute;
    bottom: 0px;
    padding: 0px 0px;
    width: 100%;
    margin-left: 0px;
    left: 0px;
    height:30px;
    background: white;
}

.heading{
  font-size: 36px;
}
.head-image{
  height: 36px;
  width:36px;
}

.head-text{
  padding: 20px 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
  font-style: italic;
}
